doctype html
html
  head
    title #{title} - Nom du site
    meta(charset='UTF-8')
    link(rel="stylesheet", href="/css/style.css")
  body
    include includes/_header.pug
    block content
      p Paragraphe par défaut
    include includes/_footer.pug
